[Unit]
Description=Telegram bot that sends you random generated password
After=network.target

[Service]
Type=simple
Environment=TG_BOT_TOKEN=1234567890:xxxYYYzzz
WorkingDirectory=/opt/bin
ExecStart=/opt/bin/passwords_bot
Restart=on-failure

[Install]
WantedBy=multi-user.target
